<div *ngIf="isPhone && userIsLoggedIn" class="loggedInUser ptnb-custom-primary">Benjamin Feliot</div>

<ul class="profession ptnb-custom-primary">
  <ng-template ngFor let-prof [ngForOf]="professions">
    <li class="ptnb-custom-primary" [className]="prof.isExpanded ? 'expanded' : ''">

      <a href="#" class="ptnb-custom-primary" (click)="expand(prof)">{{prof.name}}</a>

      <ng-template [ngIf]="prof.isExpanded">
        <ul *ngFor="let theme of themes" class="theme ptnb-custom-primary">
          <li [ngClass]="theme.isExpanded ? 'expanded' : ''">

            <a href="#" class="ptnb-custom-tertiary" (click)="expand(prof, theme)">{{theme.name}}</a>

            <ng-template [ngIf]="theme.isExpanded">
              <ul class="message ptnb-custom-secondary">
                <li *ngFor="let message of messages" >
                  <a [routerLink]="['/browse', prof.id, theme.id, message.id]" routerLinkActive="active">{{message.name}}</a>
                </li>
              </ul>
            </ng-template>

          </li>
        </ul>
      </ng-template>

    </li>
  </ng-template>
</ul>

<div *ngIf="isPhone" class="footer">
  <mat-divider class="margin-bottom-1"></mat-divider>
  <ul class="links">
    <li><a [routerLink]="['/contact']" routerLinkActive="active" class="ptnb-custom-primary">{{ localeFooter["footer-contact"] }}</a></li>
    <li><a [routerLink]="['/sitemap']" routerLinkActive="active" class="ptnb-custom-primary">{{ localeFooter["footer-sitemap"] }}</a></li>
    <li><a [routerLink]="['/terms']" routerLinkActive="active" class="ptnb-custom-primary">{{ localeFooter["footer-terms"] }}</a></li>
  </ul>
  <div class="copyright" class="ptnb-custom-tertiary">{{ localeFooter["footer-title"] }}</div>
</div>
