@import "../../../../../../assets/scss/globals.scss";

:host {
  ul, ul li {
    margin: 0;
    list-style: none;
    padding: 0;

    a {
      line-height: $line-height*2;
    }
  }
  ul.profession {
    padding: $gutter;
    margin-left: $gutter;

    & > li {
      // color: ptnb-color('primary');

      &:before {
        content: "";
        // border-color: transparent ptnb-color('primary');
        border-style: solid;
        border-width: 0.35em 0 0.35em 0.45em;
        display: block;
        height: 0;
        width: 0;
        left: -1em;
        top: 22px;
        position: relative;
      }

      &.expanded:before {
        transition-property: all;
        transition-duration: 0.3s;
        transition-timing-function: ease-in;
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
      }

      & > a {
        font-weight: bold;
        // color: ptnb-color('primary');
      }
    }
  }

  ul.theme {
    padding-left: $gutter;

    & > li {
      // color: ptnb-color('primary');

      &.expanded {
        list-style: disc;
      }

      & > a {
        // color: ptnb-color('secondary');
      }
    }

  }

  ul.message {
    padding-left: $gutter;
    border-left: 1px solid ptnb-color('tertiary');

    a {
      // color: ptnb-color('secondary');

      &:hover, &.active {
        text-decoration: underline;
        // color: ptnb-color('tertiary');
      }
    }
  }

  .loggedInUser {
    padding-left:$gutter;
    padding-top: $gutter;
    color: darken(ptnb-color('primary'), 15);
  }

  .footer {
    padding:$gutter;
    .copyright {
      margin-top: $gutter;
      font-size: $font-size*.85;
    }
  }
}
