<mat-select disableOptionCentering="true" class="ptnb-select ptnb-select-tertiary" (selectionChange)="selectValue($event)" triggerValue="displayWith(currentValue)" [(value)]="currentValue">
  <mat-option *ngFor="let item of data" [value]="item">{{item.name}}</mat-option>
</mat-select>
