@import "../../../../../../assets/scss/globals.scss";
@import "../../../../../../assets/scss/helpers.scss";
.data {
  position: absolute;
  bottom: 0;
}

:host footer {
  & > div {
    @include clearfix();
    padding: $gutter;
  }

  position: relative;
  background: #272A33;
  width: 100%;
  margin-right: $gutter*4;

  ul, ul li {
    margin: 0;
    display: inline-block;
  }
  ul li {
    &:not(:last-child) {
      margin-right: $gutter;
    }
  }

  .copyright {
    float: left;
    font-size: $gutter/1.2;
    line-height: $gutter;
    color: ptnb-color('white');
  }
  .links {
    float: right;
    a {
    color: ptnb-color('white');
    }
  }
  .powered {
    text-align: right;
    margin: 0 $gutter;
    padding: 0;
    padding-bottom: $gutter/2;

    .mat-divider {
      margin-bottom: $gutter/2;
    }

    small {
      line-height: $line-height;
    }
  }


  // Hide / display nicely
  // On window size, position the fotter one the fixed bottom
  // or on the relative bottom of the content

  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: ease-in;

  opacity: 0;

  position: absolute;
  bottom: 0;

  &.relative-bottom {
    position: relative;
  }

  &.display {
    opacity: 1;
  }
}
