<footer *ngIf="!isPhone" class="hide">
  <div>
    <div class="copyright">{{ locale["footer-title"] }}</div>
    <ul class="links">
      <li><a routerLink="/contact">{{ locale["footer-contact"] }}</a></li>
      <li><a routerLink="/sitemap">{{ locale["footer-sitemap"] }}</a></li>
      <li><a routerLink="/terms">{{ locale["footer-terms"] }}</a></li>
    </ul>
  </div>
</footer>
