@import './globals';

@mixin backgroundPage($class: '.background') {

  #{$class} {
    position: relative;
    background-color: ptnb-color('blue');

    text-align: center;
    width: 100%;
    max-height: 300px;

    @media screen and (min-width: 599px) {
      height: 300px;
    }

    .cover {
      background: url(/assets/images/mentions.jpg) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;

      opacity: .15;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  h2.title {
    background: transparentize(ptnb-color('white'), .2);
    padding: $gutter $gutter*2;
    color: ptnb-color('primary');
    display: inline-block;
    margin: $gutter*3 auto;
    position: relative;
  }
}
