input[type="text"], .mat-select {
  line-height: $line-height;
  font-size: $font-size;
  padding: $gutter/2 0;

  background: ptnb-color('white');
  color: ptnb-color('grey-dark');

  border: 1px solid ptnb-color('secondary');
  border-radius: 3px;
  outline: none;
}

.mat-form-field-outline-thick {
  color: ptnb-color('grey-light')!important;
}

.mat-select {
  padding-right: 0;
  padding-left: 0;
}
