/**
 * global vars
 */
$gutter: 16px;
$font-size:   $gutter*.9;
$line-height: $gutter;
$font-family: 'Montserrat', sans-serif;
/* */

/**
 * colours
 */
$ptnb-palette: (
 'primary'     : #000000,
 'secondary'   : #000000,
 'tertiary'    : #000000,
 'grey-medium' : #6f6f70,
 'grey-light'  : #eeedef,
 'grey-dark'   : #777,
 'white'       : #fff,
 'black'       : #000000,
 'blue'        : #0085CA
);

@function ptnb-color($key: 'primary') {
  @return map-get($ptnb-palette, $key);
}
/* */
