/**
 * margin helpers
 */
@for $i from 0 through 5 {
  .margin-top-#{$i}     { margin-top: $gutter*$i!important;   }
  .margin-right-#{$i}   { margin-right: $gutter*$i!important; }
  .margin-bottom-#{$i}  { margin-bottom: $gutter*$i!important;}
  .margin-left-#{$i}    { margin-left: $gutter*$i!important;  }
  .margin-#{$i}         { margin: $gutter*$i!important;       }
}


/**
 * padding helpers
 */
@for $i from 0 through 5 {
  .padding-top-#{$i}    { padding-top: $gutter*$i!important;   }
  .padding-right-#{$i}  { padding-right: $gutter*$i!important; }
  .padding-bottom-#{$i} { padding-bottom: $gutter*$i!important;}
  .padding-left-#{$i}   { padding-left: $gutter*$i!important;  }
  .padding-#{$i}        { padding: $gutter*$i!important;       }
}

@mixin clearfix {
  &:before, &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
  zoom: 1;
}

.clearfix { @include clearfix() }


/**
 * Set an ellipsis break text on boxes
 */
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dont-break-out {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
