@import '../../../node_modules/@angular/material/theming';

@include mat-core();

$palette-primary: (
  50: lighten(ptnb-color('primary'), 88),
  100: lighten(ptnb-color('primary'), 70),
  200: lighten(ptnb-color('primary'), 50),
  300: lighten(ptnb-color('primary'), 30),
  400: lighten(ptnb-color('primary'), 15),
  500: ptnb-color('primary'),
  600: darken(ptnb-color('primary'), 15),
  700: darken(ptnb-color('primary'), 30),
  800: darken(ptnb-color('primary'), 50),
  900: darken(ptnb-color('primary'), 70),
  A100: ptnb-color('primary'),
  A200: ptnb-color('primary'),
  A400: ptnb-color('primary'),
  A700: ptnb-color('primary'),
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$palette-accent: (
  50: lighten(ptnb-color('tertiary'), 88),
  100: lighten(ptnb-color('tertiary'), 70),
  200: lighten(ptnb-color('tertiary'), 50),
  300: lighten(ptnb-color('tertiary'), 30),
  400: lighten(ptnb-color('tertiary'), 15),
  500: ptnb-color('tertiary'),
  600: darken(ptnb-color('tertiary'), 15),
  700: darken(ptnb-color('tertiary'), 30),
  800: darken(ptnb-color('tertiary'), 50),
  900: darken(ptnb-color('tertiary'), 70),
  A100: ptnb-color('tertiary'),
  A200: ptnb-color('tertiary'),
  A400: ptnb-color('tertiary'),
  A700: ptnb-color('tertiary'),
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$app-primary: mat-palette($palette-primary);
$app-accent:  mat-palette($palette-accent, A200, A100, A400);
$app-theme:   mat-light-theme($app-primary, $app-accent);

@include angular-material-theme($app-theme);
