@import './globals';
/**
 * Default state on not hover
 */
 @mixin defaultNotHover($class) {
  #{$class} .description {
    max-width: 500px;
    padding: 2rem;
    position: absolute;
    left: 0;
    right:0;
    bottom: 0;
    text-align: left;

    @media screen and (max-width: 767px) and (min-width: 600px) {
      padding:2rem 5rem
    }

    @media screen and (max-width: 599px) {
      width: 75%;
      margin: auto;
    }

    p {
      display: inline-block;
      margin: 0 0 0.25em;
      padding: 0.4em 1em;
      background: rgba(255,255,255,0.9);

      -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
      transition: opacity 0.35s, transform 0.35s;
      -webkit-transform: translate3d(-360px,0,0);
      transform: translate3d(-360px,0,0);
      opacity: 0;

      &:first-child {
        -webkit-transition-delay: .35s;
        transition-delay: .35s;
      }

      @for $i from 1 through 5 {
        &:nth-of-type(#{$i+1}) {
          -webkit-transition-delay: $i - $i/2*$i*0.75s;
          transition-delay: $i - $i/2*$i*0.75s;
        }
      }
    }

    h3 {
      -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
      transition: opacity 0.35s, transform 0.35s;
      transition-delay: .55s;
      opacity: 0;
      color: ptnb-color('tertiary');
      margin-top: 0;
      margin-bottom: 0;
      padding-top: $gutter;
      padding-bottom: $gutter;
    }
  }
}
/**
 * On hover, animate title and description
*/
@mixin animateOnHover($class) {
  transform: scale(1.2);
  transition-delay: .05s;

  #{$class} {

    width: 100;
    height: 100%;
    background-color: transparentize(#4d4c4d, 0.1);

    -webkit-transition-delay: 0.35s;
    transition-delay: 2s;

    -webkit-transition: background-color 1s;
    transition: background-color 1s;

    .description {
      //background: red;
      h3 {
        opacity: 1;
      }

      p {
        opacity: 1;
        transform: translate3d(0,0,0);
        -webkit-transform: translate3d(0,0,0);
      }
    }
  }
}
/**
 * Basic slide animation
 */
@mixin slide($container, $inner, $active) {
  #{$container} {
    width: 100%;

    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;

    overflow: hidden;

    .inner {
      background-color: #4d4c4d;
      height: 285px;
      background-repeat: no-repeat;
      background-position: center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

    /* default slides */
    @include defaultNotHover($inner);

    img {
      margin: auto;
      width: 100%;
      object-fit: cover;
    }

    a {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      // only the current and active
      display: none;
    }

    /* active slide */
    &#{$active} {
      @include animateOnHover($inner);

      z-index: 9;
      position: relative;

      a {
        display: block;
      }
      &:focus { outline: none}
    }
  }
  .bg-custom {
    background: none !important;
    color: ptnb-color('white');
    font-size: ($gutter - 2);
  }
}
