@import './media-slide';

/**
 * Stylize the carousel
 */
.banner-slick-container {

  @media screen and (max-width: 599px) {
    width: 100%;
  }
  @media screen and (min-width: 600px) {
    width: 90%;
  }

  margin:auto;

  /**
   * Prev / next button
   */
  .slick-prev, .slick-next {
    width: 2*$gutter;
    height: 2*$gutter;
    background-size: cover;
    opacity: .8;
    transition: opacity .6s;

    &:focus, &:hover {
      opacity: 1;
      outline: none;
    }

    &:before, &:hover:before, &:focus:before {
      content: '';
    }
  }

  .slick-prev, .slick-prev:hover, .slick-prev:focus {
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-right: 18px solid #BDCC00;
    left: -2.5*$gutter;
  }

  .slick-next, .slick-next:hover, .slick-next:focus {
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 18px solid #BDCC00;
    right: -2.5*$gutter;
  }


  /**
   * Button navigation
   */
  .slick-dots li.slick-active button:before {
    color: ptnb-color('white');
  }
  .slick-dots li button:hover:before {
    color: ptnb-color('white');
  }
  .slick-dots li button:before {
    font-size: $line-height;
  }

  /**
   * Slide container
   */
  .slick-track {
    padding: 50px 0;
  }

  /**
   * Slide content
   */
  @include slide('.slick-slide', '.slick-slide-inner', '.slick-current.slick-active');
}
