.ptnb-select.mat-select {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: $gutter/2;
  width: auto;

  .mat-select-trigger {

    line-height: $gutter*2;

    .mat-select-value-text {
      font-size: $font-size;
    }
  }

  .mat-select-value {
    max-width: 100%;
    min-width: 100px;
  }
}
