.cdk-overlay-backdrop.ptnb-viewer {
  background: transparentize(ptnb-color('black'), .35);
  max-height: 100%;
  width: 100%;
  max-width: 100%;
}

.cdk-overlay-pane.ptnb-viewer {

  margin: auto!important;
  max-height: 100%;
  height: 100%;
  width: 100%;
  max-width: 100%;

  .mat-dialog-container {
    background: transparent;
    box-shadow: none;
    padding: $gutter;
    max-height: 100%;
    overflow-y: auto;
  }
}
