/*Default skin Video.js*/
.video-js {
  /* The base font size controls the size of everything, not just text.
     All dimensions use em-based sizes so that the scale along with the font size.
     Try increasing it to 15px and see what happens. */
  font-size: 20px;

  /* The main font color changes the ICON COLORS as well as the text */
  color: ptnb-color('blue');
  .vjs-time-control {
    position: absolute;
    left: 80px;
    top: 50%;
    font-size: $font-size;
  }

  // move icon speakers

  .vjs-volume-panel {
    position: absolute;
    right: 40px;
    margin: 0 1.5rem;
    .vjs-volume-horizontal {
      display: block;
    }
    .vjs-volume-vertical {
      display: block;
    }
  }
  .vjs-progress-control {
    margin-right: $gutter*4;
  }
  .vjs-duration {
    display: block;
    margin: 0 2rem;
    .vjs-duration-display {
      margin-left: 0.3rem;
    }
  }
  .vjs-current-time {
    display: block;
  }
  .vjs-remaining-time {
    display: none;
  }
  .vjs-texttrack-settings {
    display: none;
  }
}

.vjs-default-skin .vjs-big-play-button {
  @media screen and (max-width: 599px) {
    font-size: 2rem;
  }
  font-size: 4rem;

  /*line-height: 1.5em;*/
  height: 1.5em;
  /*width: 3em;*/

  /* 0.06666em = 2px default */
  border: 0.06666em solid ptnb-color('white');
  /* 0.3em = 9px default */
  /*border-radius: 0.3em;*/
  left: 56%;
  top: 50%;
  margin-left: -1.5em;
  margin-top: -0.75em;

  border-radius: 50%;
  width: 1.5em;
  line-height: 1.4em;
}

.video-js .vjs-control-bar,
.video-js .vjs-big-play-button,
  /*.video-js:hover .vjs-big-play-button,*/
.video-js .vjs-menu-button .vjs-menu-content {
  background-color: ptnb-color('white');
}

/* The slider bar color is used for the progress bar and the volume bar
   (the first two can be removed after a fix that's coming) */
.video-js .vjs-volume-level,
.video-js .vjs-play-progress,
.video-js {
  background: ptnb-color('blue');
}

/* The main progress bar also has a bar that shows how much has been loaded. */
.video-js .vjs-load-progress {
  background: #e0d0d5;
}

.vjs-menu-content {
  display: block;
}

.vjs-volume-menu-button .vjs-menu-content {
  transform: rotate(-90deg);
  margin-bottom: $gutter*2 !important;
}
