:root {
  --primary-color: #00ABE4;
  --secondary-color: #BDCC00;
  --tertiary-color: #777777;
}

/*
 *
 * Default class
 */

.ptnb-custom-primary {
  color: var(--primary-color)!important;
}

.ptnb-custom-secondary {
  color: var(--secondary-color)!important;
}

.ptnb-custom-tertiary {
  color: var(--tertiary-color)!important;
}


/*
 *
 * button class
 */

.ptnb-button-primary {
  background-color: var(--primary-color)!important;
}

.ptnb-select-tertiary {
  border: 1px solid var(--tertiary-color)!important;
}


/*
 *
 * spinner
 */

.mat-spinner circle {
  stroke: var(--secondary-color)!important;
}

/*
 *
 * Main navigation
 */

app-front-navigation-sidebar ul.message  {
  border-color: transparent var(--secondary-color)!important;
}
app-front-navigation-sidebar ul.message li a {
  color: var(--tertiary-color)!important;
}

app-front-navigation-sidebar ul.message li a:hover,
app-front-navigation-sidebar ul.message li a.active {
  color: var(--secondary-color)!important;
}

app-front-navigation-sidebar ul.others {
  color: var(--tertiary-color)!important;
}

app-front-navigation-sidebar ul.profession li:before {

  border-color: transparent var(--primary-color)!important;
}


/*
 *
 * slider
 */

app-front-media-slider .banner-slick-container .slick-prev,
app-front-media-slider .banner-slick-container .slick-prev:hover,
app-front-media-slider .banner-slick-container .slick-prev:focus {
  border-right: 18px solid var(--secondary-color)!important;
  color: var(--secondary-color)!important;
}

app-front-media-slider .banner-slick-container .slick-next,
app-front-media-slider .banner-slick-container .slick-next:hover,
app-front-media-slider .banner-slick-container .slick-next:focus {
  border-left: 18px solid var(--secondary-color)!important;
  color: var(--secondary-color)!important;
}
