<div class="inner">
  <div *ngIf="media">
    <div [@staggerAnimation]="media.length" class="list">
      <div *ngFor="let item of media" class="item" role="list">
        <div class="wrapper">
          <app-front-media-cards-card [item]="item"></app-front-media-cards-card>
        </div>
      </div>
    </div>
  </div>
  <p *ngIf="displayNoResult" class="no-result">{{locale["no-result"]}}</p>
  <div *ngIf="isLoadingData && !displayNoResult" class="loading">
    <mat-spinner diameter="48" color="accent"></mat-spinner>
  </div>
</div>
