@import "../../../../../../assets/scss/globals";

:host {
  .no-result {
    text-align: center;
    padding-top: 60px;
  }

  .loading {
    text-align: center;
    padding: $gutter*2;

    .mat-spinner {
      margin: auto;
    }
  }

  .list {
    width: 100%;

    .item {
      display: inline-block;
    }

    @media screen and (max-width: 599px) {
      .item {
        width: 100%;
        margin-bottom: $gutter*2;
      }
    }
    @media screen and (min-width: 600px) and (max-width: 1279px) {
      .item {
        width: 50%;
        margin-bottom: $gutter*4;

        &:nth-child(odd) > .wrapper {
          margin-right: $gutter*2;
        }
        &:nth-child(even) > .wrapper {
          margin-left: $gutter*2;
        }
      }
    }
    @media screen and (min-width: 1280px) {
      .item {
        width: 33.3333333333333%;
        margin-bottom: $gutter*5;

        &:nth-child(odd) > .wrapper {
          margin-right: $gutter*5;
        }
        &:nth-child(3n+0) > .wrapper {
          margin-left: $gutter*2.5;
          margin-right: $gutter*2.5;
        }
        &:nth-child(3n+0) > .wrapper {
          margin-left: $gutter*5;
          margin-right: 0;
        }
        &:nth-child(3n+1) > .wrapper {
          margin-right: $gutter*5;
          margin-left: 0;
        }
        &:nth-child(3n+2) > .wrapper {
          margin-left: $gutter*2.5;
          margin-right: $gutter*2.5;
        }
      }
    }
  }
}
