<video id="ptnb-player"
       class="video-js vjs-default-skin"
       width="100%"
       controls
       preload="none"
       poster="{{media.url_thumbnail}}"
       data-setup='{ "aspectRatio":"880:580" }'>
  <source [src]="media.url" type="video/{{media.format}}">
  <p class="vjs-no-js">
    To view this video please enable JavaScript, and consider upgrading to a
    web browser that
    <a href="http://videojs.com/html5-video-support/" target="_blank">
      supports HTML5 video
    </a>
  </p>
</video>
