<div class="inner" [style]="backgroundImage(item.url_thumbnail)">
  <div class="slick-slide-inner">
    <div class="description">
      <h3 class="ellipsis ptnb-custom-secondary">{{item.title}}</h3>
      <div>
        <p class="dont-break-out bg-custom" *ngFor="let row of buildDescription(item)">{{row}}</p>
      </div>
    </div>
  </div>
</div>
<a [routerLink]="['', { outlets: { dialog: ['media', item.id] } }]" queryParamsHandling="preserve"></a>
