@import "../../../../../assets/scss/globals";
@import "../../../../../assets/scss/background-page";

:host {

  @include backgroundPage('.background');

  ul:not(.others), ul:not(.others) li {
    list-style: none;
    padding: 0;
    a {
      display: block;
      width: 100%;
      height: 100%;
      padding: $gutter;
      color: ptnb-color('secondary');
    }
  }

  ul:not(.others) {
    border-left: 2px solid ptnb-color('white');
  }

  ul:not(.others) li:not(.active):hover {
    background: transparentize(ptnb-color('white'), .7);
  }

  .title {
    text-align: center;
  }

  .loading {
    padding: $gutter*4 0;
    text-align: center;
    width: 100%;
    .mat-spinner {
      margin: auto;
    }
  }

  .crawler {
    visibility: hidden;
    height: 1px;
    width: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  ul li.active {
    background: white;
    a {
      color: ptnb-color('blue');
      font-weight: bold;
    }
  }

  ul.others, ul.others li {
    list-style: none;
    padding: 0;
  }

  ul.others li {
    margin: 0;
    display: inline-block;
    &:not(:last-child) {
      margin-right: $gutter*2;
    }
    a {
      color: ptnb-color('secondary');
    }
  }
  .custom-items {
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: initial;
    align-items: initial;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    .items {
      margin: 1%;
      -webkit-flex: 1 1 31%;
      flex: 1 1 31%;
      max-width: 289px;
    }
  }

  ul.others.phone li {
    display: block;
    margin: $gutter/2 0;
  }
}
