<div class="background">
  <div class="cover"></div>
  <h2 class="title ptnb-custom-primary">{{ locale["container-title"] }}</h2>
</div>

<div class="container-inner">
  <div *ngIf="!professions" class="loading">
    <mat-spinner diameter="48" color="accent" ></mat-spinner>
  </div>

  <div class="custom-items" *ngIf="!isPhone && professions">
    <div *ngIf="professions" class="items">
      <h3>{{locale["professions-label"]}}</h3>
      <ul class="professions" [@animate]="professions">
        <ng-template ngFor let-profession [ngForOf]="professions">
          <li [ngClass]="profession.active ? 'active' : ''">
            <a href="#" (click)="select(profession)" [class.ptnb-custom-tertiary]="profession.active ? '' : 'active'">{{profession.name}}</a>
          </li>
        </ng-template>
      </ul>
    </div>
    <div class="items" *ngIf="themes" class="items">
      <h3 *ngIf="!currentProfession">{{locale["themes-label"]}}</h3>
      <h3 *ngIf="currentProfession">{{currentProfession.name}}</h3>
      <ul class="themes" [@animate]="currentProfession">
        <ng-template ngFor let-theme [ngForOf]="themes">
          <li [ngClass]="theme.active ? 'active' : ''">
            <a href="#" (click)="select(theme)" [class.ptnb-custom-tertiary]="theme.active ? '' : 'active'">{{theme.name}}</a>
          </li>
        </ng-template>
      </ul>
    </div>
    <div *ngIf="messages" [@animate]="currentProfession" class="items">
      <h3 *ngIf="!currentTheme">{{locale["messages-label"]}}</h3>
      <h3 *ngIf="currentTheme">{{currentTheme.name}}</h3>
      <ul class="messages">
        <ng-template ngFor let-message [ngForOf]="messages">
          <li>
            <a href="#" [routerLink]="['/browse', currentProfession.id, currentTheme.id, message.id]" [class.ptnb-custom-tertiary]="message.active ? '' : 'active'">{{message.name}}</a>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>

  <div *ngIf="isPhone && professions" class="margin-bottom-3">
    <h3>{{locale["professions-label"]}} / {{locale["themes-label"]}}</h3>
    <mat-select disableOptionCentering="true" class="ptnb-select" (selectionChange)="selectFromSelectbox($event)" [(value)]="currentProfession">
      <mat-option *ngFor="let item of professions" [value]="item">{{item.name}}</mat-option>
    </mat-select>

    <mat-select disableOptionCentering="true" class="margin-top-1 ptnb-select" (selectionChange)="selectFromSelectbox($event)" [(value)]="currentTheme">
      <mat-option *ngFor="let item of themes" [value]="item">{{item.name}}</mat-option>
    </mat-select>

    <h3 *ngIf="!currentTheme">{{locale["messages-label"]}}</h3>
    <h3 *ngIf="currentTheme">{{currentTheme.name}}</h3>
    <ul class="messages">
      <ng-template ngFor let-message [ngForOf]="messages">
        <li>
          <a href="#" [routerLink]="['/browse', currentProfession.id, currentTheme.id, message.id]">{{message.name}}</a>
        </li>
      </ng-template>
    </ul>

  </div>

  <div>
    <h3>{{locale["others-title"]}}</h3>
    <ul class="others" [ngClass]="isPhone ? 'phone' : ''">
      <li><a [routerLink]="['/contact']">{{localeFooter["footer-contact"]}}</a></li>
      <li><a [routerLink]="['/sitemap']">{{localeFooter["footer-sitemap"]}}</a></li>
      <li><a [routerLink]="['/terms']">{{localeFooter["footer-terms"]}}</a></li>
    </ul>
  </div>
</div>

<div class="crawler" *ngIf="professions">
  <ul fxLayout="row wrap">
    <li *ngFor="let prof of professions" fxFlex="50">
      {{prof.name}}
      <ul>
        <li *ngFor="let theme of themes">{{theme.name}}
          <ul>
            <li *ngFor="let message of messages"><a href="#" [routerLink]="['/browse', prof.id, theme.id, message.id]">{{message.name}}</a></li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>
