<button mat-icon-button cdk-overlay-origin class="ptnb-custom-primary" (click)="openSubscribePanel()">
  <mat-icon>notifications</mat-icon>
</button>
<span class="ptnb-custom-primary" (click)="openSubscribePanel()">{{locale["button-title"]}}</span>
