@import "../../../../../../assets/scss/globals.scss";

:host {
  & > {
    span {
      position: absolute;
      bottom: -$gutter;
      font-size: 12px;
      left: 50%;
      margin-left: -28px;
    }
  }
}
