@import "../../../../../../assets/scss/globals";

:host {

  & > div {
    max-width: 950px;
    margin: auto;
  }

  header {
    position: relative;

    h2 {
      display: block;
      color: ptnb-color('white');
      line-height: $line-height*2;
      padding-right: 80px;
      margin-top: 0;
    }

    .mat-dialog-actions {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
      padding: 0;
      .mat-icon {
        color: ptnb-color('white');
      }
    }
  }

  section {

    padding: 0;

    .description {
      background: ptnb-color('white');
      padding: $gutter;
      margin-bottom: $gutter;
    }
  }
}
.rotate-screen {
  display: none;
}
@media screen and (min-width: 320px) and (max-width: 1023px) and (orientation: landscape){
  .dialog-media {
    display: none;
  }
  .rotate-screen {
    display: flex !important;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-direction: column;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    background: ptnb-color('white');
  }
}
