<div class="dialog-media" *ngIf="media">


  <header>
    <h2 class="ellipsis">{{media.title}}</h2>
    <mat-dialog-actions>
      <button mat-icon-button color="secondary" (click)="download(media)"><mat-icon>cloud_download</mat-icon></button>
      <button mat-icon-button color="secondary" mat-dialog-close><mat-icon>close</mat-icon></button>
    </mat-dialog-actions>
  </header>

  <section>
    <div class="description"><app-readmore maxLenght="100" [data]="media"></app-readmore></div>
    <app-viewer-image *ngIf="type === 'image'" [dataImage]="media"></app-viewer-image>
    <app-viewer-pdf *ngIf="type === 'pdf'" [media]="media"></app-viewer-pdf>
    <app-viewer-video *ngIf="type === 'video'" [media]="media"></app-viewer-video>
  </section>

</div>

<div class="rotate-screen">
  <h3 class="ptnb-custom-secondary">
    Media not support on screen horizontal <br>
    Please rotate the screen to continue.
  </h3>
</div>
