@import "../../../../../assets/scss/globals.scss";

:host {

  text-align: center;

  h2 {
    color: ptnb-color('white');
    padding: 5*$gutter 0 3*$gutter 0;
    margin: 0 auto;
    font-weight: 400;

    @media screen and (max-width: 599px) {
      padding-top: $gutter;
      padding-bottom: $gutter;
      font-size: $font-size*1.5;
    }
    @media screen and (min-width: 600px) {
      font-size: $font-size*2.5;
    }
  }

  h3 {
    color: ptnb-color('tertiary');
    font-weight: 400;

    @media screen and (max-width: 599px) {
      font-size: $font-size*1.5;
      margin: 0;
    }
    @media screen and (min-width: 600px) {
    font-size: $font-size*2;
    }
  }

  .background {
    opacity: .15;

    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

    background: url(/assets/images/homepage-background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
