@import "../../../../../../assets/scss/globals";

:host {
  .virtual-cloned, .banner-slick-container {
    background: transparent;
  }

  .loader {
    width: 3*$gutter;
    margin: auto;
    margin-top: 3*$gutter;
  }
}
