<div class="padding-1">
  <div class="loader" *ngIf="!slides">
    <mat-spinner diameter="48" color="red"></mat-spinner>
  </div>

  <div class="banner-slick-container" *ngIf="slides" [@fadeIn]>
    <div class="virtual-cloned left"></div>
    <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig" (init)="positionFooter()">
      <div ngxSlickItem *ngFor="let item of slides">
        <app-front-media-slider-slide [item]="item" *ngIf="item.url_thumbnail"></app-front-media-slider-slide>
        <app-front-media-slider-slide-default [item]="item" *ngIf="!item.url_thumbnail"></app-front-media-slider-slide-default>
      </div>
    </ngx-slick>
    <div class="virtual-cloned right"></div>
  </div>
</div>
<div class="homepage background"></div>
