<section mat-dialog-content>
  <h2 class="ptnb-color-primary">{{locale["container-title"]}}</h2>
  <p>{{locale["message"]}}</p>

  <div class="actions">
    <button mat-dialog-close mat-flat-button class="ptnb-color-primary">{{locale["close-button-label"]}}</button>
  </div>
</section>
