<p *ngIf="!isCheckLenght" class="description">{{desc?.description | readMore : maxLenght}}</p>
<p *ngIf="isCheckLenght" class="description">{{desc?.description }}</p>
<div *ngIf="isChecked" class="btn-click">
  <a href="#" class="showDecs" [ngClass]="{clickUp: isCheckLenght, clickDown: !isCheckLenght}" (click)="show_more()"></a>
</div>
