:host {
  .showDecs {
    width: 20px;
    height: 20px;
    display: inline-block;
    float: right;
    margin-top: -10px;
  }

  .clickDown {
    background: url('../../../../../../assets/icons/image-down.svg') no-repeat center;
    background-size: contain;
  }
  .clickUp {
    background: url('../../../../../../assets/icons/image-up.svg') no-repeat center;
    background-size: contain;
  }
}
