<a [routerLink]="['', { outlets: { dialog: ['media', item.id] } }]" queryParamsHandling="preserve">
  <div class="main-wrapper" flexLayout fxLayout="column" >
    <div class="card" fxflex="100">
      <div class="inner" [style]="backgroundImage(item.url_thumbnail)">
        <div class="card-inner">
          <app-front-media-icon *ngIf="!item.url_thumbnail" [media]="item" class="centered"></app-front-media-icon>
          <div class="description">
            <div>
              <p class="dont-break-out" *ngFor="let row of buildDescription(item)">{{row}}</p>
            </div>
          </div>
        </div>

      </div>
    </div>
    <h3 class="ellipsis" fxflex="100">
      <span class="icon">
        <app-front-media-icon [media]="item"></app-front-media-icon>
      </span>
      <span class="ptnb-custom-tertiary">{{item.title}}</span>
    </h3>
  </div>
</a>
