@import "../../../../../../../assets/scss/globals";
@import "../../../../../../../assets/scss/media-slide";

:host {

  @include slide('.card', '.card-inner', ':hover');

  a {
    color: black;
  }

  .main-wrapper {
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 5px ptnb-color('grey-medium');
    min-width: 300px;
  }

  .card-inner .description {
    transform: scale(.9);
  }

  h3 {
    margin: 0;
    padding: $gutter;
    padding-left: $gutter*3.5;
    background: ptnb-color('white');
    font-size: $font-size*1.2;
    z-index: 9;
    position: relative;
    font-weight: normal;
    color: ptnb-color('secondary');

    .icon {
      position: absolute;
      left: $gutter/2;
      padding-right: $gutter/1.5;
      border-right: 1px solid ptnb-color('grey-medium');
      line-height: $line-height/2;
    }
  }

  .mat-icon {
    color: ptnb-color('primary');
  }
}
