<mat-toolbar class="topbar" style="height:64px!important">

  <button mat-icon-button (click)="toggle()" class="menu-toggle">
    <mat-icon class="ptnb-custom-primary" *ngIf="!isOpen">menu</mat-icon>
    <mat-icon class="ptnb-custom-primary" *ngIf="isOpen">close</mat-icon>
  </button>

  <!-- TODO Implement your local storage vars -->
  <span [ngClass]="isPhone ? 'phone' : 'desktop'" *ngIf="userIsLoggedIn" class="ptnb-custom-primary loggedInUser">Benjamin Feliot</span>

  <a class="logo" [routerLink]="['']" (click)="closeSidebar()">
    <img src="{{logoUrl}}"/>
  </a>

  <ul class="actions">
    <li><app-front-dialogs-subscribe></app-front-dialogs-subscribe></li>
    <li><app-front-dialogs-login></app-front-dialogs-login></li>
  </ul>
</mat-toolbar>


<mat-sidenav-container fxLayout="row">

  <mat-sidenav #snav mode="side" fxFlex [ngClass]="isPhone ? 'phone' : 'desktop'" (closedStart)="onClose()">
    <mat-nav-list>
      <app-front-navigation-sidebar (navigateOnPhone)="closeOnPhone()"></app-front-navigation-sidebar>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content (click)="snav.close()">
    <ng-content></ng-content>
  </mat-sidenav-content>

</mat-sidenav-container>
