@import "../../../../../../assets/scss/globals.scss";

:host {

  .loggedInUser {
    position: absolute;
    left: $gutter*4;
  }

  .mat-drawer-container {
    background: transparent;
    height: calc(100% - 64px);
  }

  .mat-drawer-content {
    width: 100%;
    height: 100%;
    // height: calc(100% - 75px);
  }

  .mat-toolbar {
    background: ptnb-color('white');
    box-shadow: 0px 0px 10px ptnb-color('grey-dark');
    z-index: 2;
    position: relative;
    padding-top: $gutter/2;
    padding-bottom: $gutter/2;
  }

  .logo, .logo img {
    margin: auto;
    height: 100%;
  }

  .menu-toggle {
    position: absolute;
  }

  ul.actions {
    list-style: none;
    position: absolute;
    margin-top: 0;
    right: $gutter/2;

    li {
      display: inline-block;
    }
  }

  .phone:not(span) {
    width: 100%;
  }

  .desktop {
    width: 380px;
  }

  span.phone {
    visibility: hidden;
    width: 1px;
  }
}
