<div class="arrow-up"></div>
<div class="panel-container">
  <button mat-icon-button color="secondary" class="ptnb-custom-primary" (click)="topBarCloseDialog()"><mat-icon>close</mat-icon></button>
  <div mat-dialog-content>
    <h2 class="ptnb-custom-primary">{{ locale["container-title"] }}</h2>
    <form [formGroup]="subscribeForm" (submit)="subscribe()" >
      <div>
        <mat-form-field appearance="outline">
            <input matInput placeholder="Entrer votre adresse email" formControlName="email">
            <mat-error *ngIf="subscribeForm.controls['email'].errors?.required">{{ locale["email-required"] }}</mat-error>
            <mat-error *ngIf="subscribeForm.controls['email'].errors?.pattern">{{ locale["email-invalid"] }}</mat-error>
        </mat-form-field>
      </div>
      <div>
        <button mat-flat-button type="submit" [class.invalid]="isInvalid" [class.ptnb-button-primary]="!isInvalid" [disabled]="isInvalid">{{ locale["button-title"] }}</button>
      </div>
    </form>
  </div>
</div>
