<div class="inner">
  <mat-icon *ngIf="item.type === 'VI'">video_library</mat-icon>
  <mat-icon *ngIf="item.type === 'PD'">picture_as_pdf</mat-icon>
  <mat-icon *ngIf="item.type === 'IN'">photo_library</mat-icon>
  <mat-icon *ngIf="item.type === 'RE'">file_copy</mat-icon>
  <div class="slick-slide-inner">
    <div class="description">
      <h3 class="ellipsis ptnb-custom-secondary">{{item.title}}</h3>
      <div>
        <p class="dont-break-out bg-custom" *ngFor="let row of buildDescription(item)">{{row}}</p>
      </div>
    </div>
  </div>
</div>
<a [routerLink]="['', { outlets: { dialog: ['media', item.id] } }]" queryParamsHandling="preserve"></a>
