@import "../../../../../../../../assets/scss/globals.scss";

:host {
  .mat-icon {
    position: absolute;
    top: 50%;
    margin-top: -50px;
    font-size: 100px;
    margin-left: -50px;
    color: ptnb-color('blue');
  }
}
