<div>
  <input class="ptnb-select-tertiary" type="text" [value]="value" autocomplete="off" (input)="onInput($event)">
  <button mat-flat-button class="ptnb-button-primary">
    <mat-icon *ngIf="!isLoading">search</mat-icon>
    <mat-spinner *ngIf="isLoading" diameter="22" color="accent" style="margin-left: 12px;"></mat-spinner>
  </button>
</div>
