@import "../../../../../../../assets/scss/globals.scss";

:host {
  & > div {
    position: relative;;

    button {
      min-width: $gutter*3;
      position: absolute;
      right: 0;
      padding: 0;
      height: 36px;
      top: 0;
    }

    input {
      width: calc(100% - 56px);
      height: 34px;
      padding: 0 0 0 $gutter/2;
    }
  }
}
