<div class="arrow-up"></div>
<div class="panel-container">
  <button mat-icon-button color="secondary" class="ptnb-custom-primary" (click)="topBarCloseDialog()"><mat-icon>close</mat-icon></button>
  <div mat-dialog-content>
      <form (submit)="logout()">
      <button mat-flat-button type="submit" class="ptnb-button-primary">{{locale["logout-button"]}}</button>
    </form>
  </div>
</div>
