<div>
  <div *ngIf="!isLoaded" class="loading">
    <mat-spinner diameter="48" color="accent" ></mat-spinner>
  </div>

  <header *ngIf="isLoaded" class="actions">
    <div class="actions">
      <button mat-flat-button class="ptnb-button-primary" (click)="prevPage()" [disabled]="page === 1">
        <mat-icon>navigate_before</mat-icon>
        <span>{{locale["pdf-page-prev"]}}</span>
      </button>
      <div class="pages">test {{ page }} / {{ totalPages }}</div>
      <button mat-flat-button class="ptnb-button-primary" (click)="nextPage()" [disabled]="page === totalPages">
        <span>{{locale["pdf-page-next"]}}</span>
        <mat-icon>navigate_next</mat-icon>
      </button>
    </div>
  </header>

  <!-- [original-size]="true" -->
    <pdf-viewer class="pdf-view" [src]="media.url"
                [show-all]="false"
                [zoom]="1"
                [autoresize]="true"
                [fit-to-page]="true"
                [page]="page"
                (after-load-complete)="afterLoadComplete($event)"
    >
    </pdf-viewer>

</div>
