@import "../../../../../../../assets/scss/globals";

:host {
  & > div {
    background:  ptnb-color('white');
  }

  header {
    padding: $gutter;
    text-align: center;

    .pages {
      line-height: $line-height*2.5;
      margin: 0 $gutter;
    }

    .actions > * {
      display: inline-block;
    }


    @media screen and (max-width: 599px) {
      .actions span {
        display: none;
      }
    }
    @media screen and (min-width: 600px) {
      .actions .mat-icon {
        display: none;
      }
    }
  }

  .loading {
    padding: $gutter*2 0;
    text-align: center;
    width: 100%;

    .mat-spinner {
      margin: auto;
    }
  }

  .pdf-view {
    display: block;
  }
}
