<div class="container-inner">
  <h2 class="ptnb-custom-tertiary">{{currentProfession?.name}} - {{currentTheme?.name}}</h2>
  <h3 class="ptnb-custom-secondary">{{currentMessage?.name}}</h3>

  <form class="filters">

    <label><span>{{ locale.filter }}</span></label>

    <div class="filter">
      <app-front-media-filter-select [data]="types" [value]="currentType" (select)="selectType($event)"></app-front-media-filter-select>
    </div>
    <div class="filter">
      <app-front-media-filter-select [data]="sort" [value]="currentSort" (select)="selectSort($event)"></app-front-media-filter-select>
    </div>

    <app-front-media-filter-text class="filter title" [value]="currentSearch" (search)="search($event)"></app-front-media-filter-text>

  </form>

  <mat-divider class="margin-top-1 margin-bottom-2"></mat-divider>

  <app-front-media-cards [params]="params" [filters]="filters" *ngIf="params" (loading)="hasLoaded($event)"></app-front-media-cards>
</div>
