@import "../../../../../assets/scss/globals.scss";

:host {

  form.filters {
    text-align: right;

    label {
      @media screen and (min-width: 600px) {
        text-align: right;
      }
      @media screen and (max-width: 599px) {
        text-align: center;
        display: inherit;
      }
      @media screen and (min-width: 600px) and (max-width: 959px) {
        font-size: $font-size*0.8;
      }
      span {
        line-height: $line-height*2;
      }
    }

    .filter {
      max-width: 165px;
      display: inline-block;
      margin: 0 16px;

      text-align: left;

      &.title {
        margin-top: 0;
        margin-right: 0;
      }

      @media screen and (max-width: 599px) {
        width: 100%;
        max-width: 100%;
        margin: $gutter/2 0;
      }

      @media screen and (min-width: 600px) and (max-width: 959px) {
        width: auto;
        margin: $gutter/2
      }
    }
  }

  h2 {
    // color: ptnb-color('secondary');
    padding: 3*$gutter 0 $gutter 0;
    margin: 0 auto;
    font-weight: 400;

    @media screen and (max-width: 599px) {
      padding-top: 0;
      font-size: $font-size*1.5;
    }
    @media screen and (min-width: 600px) {
      font-size: $font-size*2.5;
    }
  }

  h3 {
    // color: ptnb-color('tertiary');
    font-weight: 600;

    @media screen and (max-width: 599px) {
      font-size: $font-size*1.2;
    }
    @media screen and (min-width: 600px) {
      font-size: $font-size*2;
    }
  }
}
