<app-front-navigation-topbar>
  <perfect-scrollbar style="height: 100%;" (psYReachEnd)="scrollService.onReachEnd()">
    <div class="main-container inner">
      <router-outlet></router-outlet>
    </div>
    <app-front-footer></app-front-footer>
  </perfect-scrollbar>
</app-front-navigation-topbar>
