<div class="background">
  <div class="cover"></div>
  <h2 class="title ptnb-custom-primary">{{ locale["container-title"] }}</h2>
</div>

<div class="container-inner">
  <div class="container">
    <div>
      <p>Le site sous l'adresse : <a href="http://batiment-numerique.fr/">http://batiment-numerique.fr/</a> (ci-après dénommé le « Site ») est la propriété du Ministère du Logement, de l'Égalité des territoires et de la Ruralité, situé Tour Pascal A – 92055 La Défense Cedex (ci-après dénommé le « Ministère ») et est édité et géré par le Ministère et les équipes qui l'accompagnent dans le cadre de cette mission.</p>
      <p>Directeur de la Publication : Monsieur Bertrand DELCAMBRE</p>
    </div><br>

    <div>
      <h2>Hébergement du site</h2>
        <h5>ALTRAN FRANCE</h5>
      <h2>Conception-réalisation du portail et stratégie digitale </h2>
        <h5>ALTRAN FRANCE</h5>
    </div><br>

    <div>
    <h2>Responsabilité</h2>
      <p>L'utilisation des informations et/ou documents disponibles sur le Site (ci-après les « Informations ») se fait sous la seule responsabilité de l'utilisateur, qui assume la totalité des conséquences pouvant en découler, sans que la responsabilité du Ministère ne puisse être recherchée à ce titre, et sans recours contre ce dernier.</p>
      <p>Les Informations disponibles sur le Site sont susceptibles d'être modifiés à tout moment, et peuvent avoir fait l'objet d'une mise à jour. En particulier, ils peuvent avoir fait l'objet d'une mise à jour entre le moment de leur téléchargement et celui où l'utilisateur en prend connaissance.</p>
      <p>Il est rappelé que le Ministère peut à tout moment mettre fin à ses services ou en modifier leurs caractéristiques, cela sans préavis et le tout sans droit à indemnités.</p>
      <br>
    <h2>Droits de Propriété Intellectuelle</h2>
      <p>La structure générale, ainsi que les Informations du Site sont la propriété du Ministère et sont protégés en tant que tels. Aucune licence, ni aucun autre droit que celui de consulter le Site n'est conféré à quiconque au regard des droits de la propriété intellectuelle.</p>
      <p>Toute reproduction ou toute exploitation des Informations du Site est soumise à l'accord préalable et écrit du Ministère.</p>
      <p>Avertissement Concernant les Liens vers des Sites Tiers</p>
      <p>Le Site contient des liens hypertextes vers des sites web gérés par des tiers. Le Ministère ne peut exercer aucun contrôle permanent sur ces sites ni assumer aucune responsabilité quant à leur contenu.</p>
      <p>L'insertion de ces liens ne signifie pas que le Ministère approuve les éléments contenus sur ces sites.</p>
      <p>Le Ministère ne peut être tenu responsable du contenu de ces sites, et le fait que ces sites soient référencés sur le Site n'engage en aucun cas la responsabilité du CSTB.</p>
      <p>La création d'un lien hypertexte vers le Site est autorisée, à la condition impérative :</p>
      <p>Qu'il soit indiqué de façon claire à l'internaute qu'il est dirigé vers le Site, en faisant notamment mention intégrale et visible de son URL,</p>
      <p>Que le lien ouvre une nouvelle fenêtre du navigateur et que la page atteinte par le lien ne soit pas imbriquée à l'intérieur d'autres pages, en particulier par voie de cadres appartenant au site appelant.</p>
      <p>Dans tous les cas, le Ministère se réserve le droit de demander la suppression d'un lien qu'il estimerait non conforme à sa politique éditoriale ou comme pouvant porter atteinte à ses intérêts.</p>
      <br>
    <h2>Marques & Logos</h2>
      <p>Les marques et logos figurant sur le Site ne peuvent être reproduits totalement ou partiellement sans autorisation préalable et expresse de leur titulaire.</p>
      <br/>

    <h2>Données Personnelles</h2>
      <p>Lorsque des données présentes sur ce site ont un caractère nominatif, les utilisateurs doivent en faire un usage conforme aux réglementations en vigueur et aux recommandations de la Commission nationale de l'informatique et des libertés (CNIL).</p>
      <p>Conformément à la loi Informatique et Liberté 78-17 du 6 janvier 1978 modifiée, vous disposez d'un droit d'opposition (art. 38), d'accès (art. 39), de rectification ou de suppression (art. 40) des données qui vous concernent. Vous pouvez exercer ce droit en vous adressant au ministère de la Justice et des Libertés. Ce droit s'exerce, en justifiant de son identité, par voie postale à l'adresse :</p>
      <div>
        Mission Numérique Bâtiment<br>
        Ministère du Logement, de l'Égalité des territoires et de la Ruralité<br>
        Tour Pascal A<br>
        92055 La Défense Cedex<br>
        par mail à l'adresse :
      </div>
      <p>Les données à caractère nominatif (ci-après les « Données Personnelles ») recueillies auprès des utilisateurs par l'intermédiaire du formulaire de renseignement (ci-après le « Formulaire ») ne sauraient, en aucun cas, être transmises, à titre gratuit ou onéreux, à des personnes physiques ou morales.</p>
      <p>Les Données Personnelles sont recueillies pour la gestion du fichier d'utilisateurs de la Mission Numérique. Le Formulaire et les Données Personnelles ne font l'objet d'aucune diffusion au public sous quelque forme que ce soit et sont utilisés pour les seuls besoins du Ministère.</p>
      <br>

    <h2>Loi Applicable</h2>
      <p>Le contenu du Site est assujetti au droit français. Tout utilisateur reconnaît la compétence des tribunaux français pour tout ce qui concerne le contenu et l'utilisation du Site ou les recours en découlant.</p>
    </div>
  </div>
</div>
