/* global theme definitions */
// dont change order
@import "assets/scss/globals";
@import "assets/scss/helpers.scss";

@import "assets/scss/mat-theme-ptnb";

/* You can add global styles to this file, and also import other style files */
@import "assets/scss/forms";
@import "assets/scss/ptnb-select";
@import "assets/scss/ptnb-snackbar";
@import "assets/scss/ptnb-videojs";
@import "assets/scss/ptnb-slick.scss";
@import "assets/scss/ptnb-dialog.scss";
@import "assets/scss/styles-custom.css";

html, body {
  height: 100%;
  background-color: ptnb-color('grey-light');

  .ps-content {
    min-height: calc(100% - 51px);
  }

  &.home {
    background-color: rgba(ptnb-color('blue'), .9);

    .ps-content {
      height: calc(100% - 51px);
    }
  }

  .container-inner {
    max-width: 1200px;
    margin: auto;
    padding: $gutter;
  }

  a {
    text-decoration: none;
  }
}

body {
  margin: 0;
  font-family: $font-family;
}
