<div class="background">
  <div class="cover"></div>
  <h2 class="title ptnb-custom-primary">{{ locale["container-title"] }}</h2>
</div>

<div class="container-inner">
  <app-front-form-contact></app-front-form-contact>
</div>
