<mat-icon *ngIf="media?.type === 'VI'">video_library</mat-icon>
<mat-icon *ngIf="media?.type === 'PD'">picture_as_pdf</mat-icon>
<mat-icon *ngIf="media?.type === 'IN'">photo_library</mat-icon>
<mat-icon *ngIf="media?.type === 'RE'">file_copy</mat-icon>
