@import "../../../../../../assets/scss/globals.scss";

:host {
  &.centered .mat-icon {
    font-size: 100px;
    text-align: center;
    width: 100%;
    padding-top: 20%;
  }

  .mat-icon {
    color: ptnb-color('blue');
  }
}
