<div class="panel-container">
  <form [formGroup]="contactForm" (submit)="contact()" fxLayout="column">
    <input type="text" placeholder="Prénom" formControlName="first_name" required>
    <input type="text" placeholder="Nom" formControlName="last_name" required>
    <div class="error-email" *ngIf="contactForm.controls['email'].errors?.pattern">{{ locale["email-invalid"]}}</div>
    <input type="text" placeholder="Email"  formControlName="email" required>
    <textarea cols="40" rows="5" formControlName="message" placeholder="Message" required></textarea>
    <button type="submit" [class.invalid]="isInvalid" [class.ptnb-button-primary]="!isInvalid" [disabled]="isInvalid">{{ locale["button-title"] }}</button>
  </form>
</div>
