@import "../../../../../../assets/scss/globals.scss";

:host {
  .panel-container {
    padding: $gutter;
    text-align: center;
    margin: auto;
    width: 250px;
  }
  input[type="text"] {
    width: auto;
    margin-bottom: $gutter;
    padding: $gutter;
    border: none;
    border-radius: 5px;
    background-color: ptnb-color('white');
    font-size: $font-size*.9;
    line-height: $line-height;
    font-family: $font-family;
  }

  textarea {
    resize: none;
    margin-bottom: $gutter;
    padding: $gutter;
    width: auto;
    border: none;
    border-radius: 5px;
    background-color: ptnb-color('white');
    font-size: $font-size*.9;
    line-height: $line-height;
    font-family: $font-family;

  }
  button {
    height: 40px;
    width: 100px;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 12px;
    font-family: $font-family;
    margin: auto;
  }

  .invalid {
    background-color: lighten(ptnb-color('grey-medium'), 30);
  }

  .error-email {
    color: red;
    margin-left: 8px;
    text-align: left;
    font-size: 10px;
  }
}
