@import "../../../../../../assets/scss/globals.scss";

:host {
  .panel-container {
    padding: $gutter;
    border-radius: 5px;
    background-color: white;
    font-size: 12px;
    line-height: $line-height;
    font-family: $font-family;
    text-align: center;
    position: relative;
    .mat-icon-button {
      position: absolute;
      top: -7px;
      left: -5px;
    }
  }

    .mat-form-field {
      margin-right: -4px;
    }

    .mat-flat-button {
      font-weight: normal;
      border-radius: 8px;
      font-size: 12px;
      font-family: $font-family;
    }

  .arrow-up {
    margin-left: 193px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
  }

  .invalid {
    color: white;
    background-color: lighten(ptnb-color('grey-medium'), 30);
  }
}
