<div class="arrow-up"></div>
<div class="panel-container">
  <button mat-icon-button color="secondary" class="ptnb-custom-primary" (click)="topBarCloseDialog()"><mat-icon>close</mat-icon></button>
  <div mat-dialog-content>
    <h2 class="ptnb-custom-primary">{{ locale["container-title"] }}</h2>
  </div>
  <form [formGroup]="loginForm" (submit)="login()" >
    <div>
      <mat-form-field appearance="outline">
          <input matInput placeholder="Email" formControlName="email">
          <mat-error *ngIf="loginForm.controls['email'].errors?.required">{{ locale["email-required"] }}</mat-error>
          <mat-error *ngIf="loginForm.controls['email'].errors?.pattern">{{ locale["email-invalid"] }}</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <input matInput formControlName="password" type="password" placeholder="Password">
        <mat-error *ngIf="loginForm.controls['password'].errors?.required">{{ locale["password-required"] }}</mat-error>
      </mat-form-field>
    </div>
    <div>
      <button mat-flat-button type="submit" [class.invalid]="isInvalid" [class.ptnb-button-primary]="!isInvalid" [disabled]="isInvalid">{{ locale["button-title"] }}</button>
    </div>
  </form>
</div>
